body {
  font-family: Arial, sans-serif;
}

ul.inline {
  padding-left: 0;
  list-style: none;

  > li {
    display: inline-block;
    margin-right: 10px;
  }
}

.alert {
  padding: 5px;
  margin: 10px 0;
  border: 1px solid red;
  background-color: pink;
}
